/* You can add global styles to this file, and also import other style files */

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.p-paginator {
  display: flex;
  justify-content: flex-end !important;
}

.p-paginator-current {
  display: flex;
  align-items: center;
}
